<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnvARW9ZvFfVKaU3o3ebQGm_YdJ8dCcSs</string>
	<key>GCM_SENDER_ID</key>
	<string>804995097809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juneau.DoneWithIt</string>
	<key>PROJECT_ID</key>
	<string>donewithit-912b6</string>
	<key>STORAGE_BUCKET</key>
	<string>donewithit-912b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804995097809:ios:000abe87ee06d4579451f0</string>
</dict>
</plist>